// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:less
@import "../../bower_components/bootstrap/less/bootstrap.less";
// endbower

@import "common/_variables";
@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

/*
-----------------------------------------------------------
|
| Global
|
--------------------------------------------------------------
*/

body {
  font-family: "Whitney SSm A","Whitney SSm B",verdana,"Lucida Grande",sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}
.navbar-default {
  background: #39424e;
  border-bottom: 3px solid #2ec866;
}
.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 600;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus  {
  color: #2ec866;
  background: #232931;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #2ec866;
}
.navbar-brand {
  height: auto;
}
.wp-post-image {
  max-width: 100%;
}
.thumbnail {
  position: relative;
}
.aspect-ratio-wrap {
  width: 100%;
	padding-bottom: 56.25%; /* 4:3 */
	position: relative;
  display: block;
	background: black;
}
.aspect-ratio {
  position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	color: white;
	font-size: 24px;
	text-align: center;
  background-size: cover;
  background-position: center center;
}
hr {
  border-top: 3px solid #39424e;
  margin: 40px 0 30px 0;
}
.text-green, .text-success {
  color: #2ec866;
  font-weight: 600;
}
footer#footer {
  background: #39424e;
  padding: 50px 0;
  margin-top: 100px;
  color: white;
}
footer#footer a {
  color: white;
}
footer#footer ul {
  list-style-type: none;
  font-size: 16px;
}
footer#footer strong {
  color: #979faf;
  font-size: 18px;
}

@media (max-width: 767px) {
  footer#footer {
    text-align: center;
  }
  footer#footer ul {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 28px 18px;
  }
}

/*
-----------------------------------------------------------
|
| archive-resource
|
--------------------------------------------------------------
*/

.archive-resource .right .resource-wrap:first-child .resource {
  margin-bottom: 30px;
  background: #2ec866;
}
.archive-resource .right .resource {
  height: 174px;
  width: 100%;
  display: block;
  padding: 15px;
  background: #39424e;
  color: white;
}
.archive-resource .right .resource:hover {
  text-decoration: none;
}
.archive-resource ul.nav {
  margin-bottom: 20px;
}
.archive-resource .nav-tabs>li.active>a,
.archive-resource .nav-tabs>li.active>a:hover,
.archive-resource .nav-tabs>li.active>a:focus {
  border: none;
}
.archive-resource .nav-tabs {
  border: none;
}
.archive-resource .nav-tabs li {
  text-align: center;
}
.archive-resource .nav-tabs a {
  display: inline-block;
}
.archive-resource .nav-tabs>li>a {
  border: none;
}
.archive-resource .nav-tabs .fa {
  font-size: 35px;
  margin-bottom: 5px;
}
.archive-resource .tab-content {
  display: inline-block;
  position: relative;
  width: 100%;
}
.archive-resource .tab-pane {
  width: 100%;
}
.archive-resource .thumbnail {
  height: 320px;
}

/*
-----------------------------------------------------------
|
| single-resource.php
|
--------------------------------------------------------------
*/

.single-resource .wp-post-image {
  border-radius: 5px;
}
.single-resource .entry-content {
  padding: 15px 0;
}
.single-resource .breadcrumb {
  background: none;
  padding-left: 0;
}
.single-resource .social {
  margin-bottom: 25px;
}
.single-resource .social .fa {
  font-size: 25px;
}
.single-resource .tags {
  margin-bottom: 50px;
}

/*
-----------------------------------------------------------
|
| template-financial-services
|
--------------------------------------------------------------
*/

body.page-template-template-financial-services {
  font-size: 16px;
}
.page-template-template-financial-services .navbar {
  margin-bottom: 0;
  color: white;
  font-weight: 600;
}
.page-template-template-financial-services .navbar-right {
  text-align: right;
  padding-top: 20px;
}
.page-template-template-financial-services .navbar-right span {
  display: inline-block;
}
.page-template-template-financial-services .navbar-btn {
  margin-left: 20px;
  min-width: 112px;
}
.page-template-template-financial-services .btn {
  font-weight: 600;
}
.page-template-template-financial-services .btn-success {
  background-color: #2ec866;
}
.page-template-template-financial-services .btn-default.btn-white {
  border-color: #2ec866;
  color: #2ec866;
}
.page-template-template-financial-services h1, h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.page-template-template-financial-services .carousel {
  width: 100%;
}
.page-template-template-financial-services .carousel-inner {
  width: 100%;
  position: relative;
}
.page-template-template-financial-services .carousel-inner .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  position: absolute;
  opacity: 0.5;
}
.page-template-template-financial-services .carousel .item {
  width: 100%;
  min-height: 75vh;
  background-size: cover;
  padding-top: 75px;
}
.page-template-template-financial-services .carousel-indicators {
  bottom: 0;
}
.page-template-template-financial-services .carousel-caption {
  bottom: auto;
  font-weight: 600;
}
.page-template-template-financial-services section {
  margin: 15px 0;
}
.page-template-template-financial-services section#top .text .carousel-caption p {
  max-width: 900px;
  display: inline-block;
}
.page-template-template-financial-services section#top {
  margin: 0;
}
.page-template-template-financial-services section#top .quote .carousel-caption {
  text-align: right;
}
.page-template-template-financial-services blockquote {
  position: relative;
  border-left: none;
}
.page-template-template-financial-services blockquote p {
  display: inline;
}
.page-template-template-financial-services blockquote .fa {
  color: #2ec866;
  font-size: larger;
}
.page-template-template-financial-services .person {
  color: #2ec866;
  margin-bottom: 0;
}
.page-template-template-financial-services section#top .quote blockquote {
  max-width: 700px;
  float: right;
  clear: both;
}
.page-template-template-financial-services section#top .quote blockquote .fa {
  margin: 0 5px;
}
.page-template-template-financial-services section#top .quote .job-title {
  font-size: 13px;
}
.page-template-template-financial-services section#top .quote .pull-right {
  text-align: left;
}
.page-template-template-financial-services section#top .carousel .item.image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #39424e;
}
.page-template-template-financial-services section#logos {
  height: 47px;
  overflow: hidden;
  text-align: center;
  margin: 15px 0;
}
.page-template-template-financial-services section#logos img {
  margin: 0 15px;
  height: 100%;
  display: inline-block;
}
.page-template-template-financial-services section#addepar {
  color: white;
  position: relative;
  background: #39424e;
  padding: 50px 0 50px 0;
  margin-top: 0;
}
.page-template-template-financial-services section#addepar .left {
  padding-top: 100px;
}
.page-template-template-financial-services section#addepar .middle {
  text-align: center;
}
.page-template-template-financial-services section#addepar .middle a {
  display: inline-block;
}
.page-template-template-financial-services section#addepar .right {
  padding-top: 30px;
}
.page-template-template-financial-services section#watch {
  background-image: url('../../assets/images/watch-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 500px;
  color: white;
  padding: 75px 0 100px 0;
}
.page-template-template-financial-services section#watch p {
  margin-bottom: 50px;
}
.page-template-template-financial-services section#empower {
  margin: 50px 0;
}
.page-template-template-financial-services section#empower h2 {
  text-align: center;
}
.page-template-template-financial-services section#hire {
  margin: 50px 0 0 0;
}
.page-template-template-financial-services section#hire p {
  margin-bottom: 30px;
}
.page-template-template-financial-services section#hire ul {
  display: inline-block;
  list-style: none;
}
.page-template-template-financial-services section#hire li {
  text-align: left;
}
.page-template-template-financial-services section#hire li:before {
  content: "• ";
  color: #2ec866;
}
.page-template-template-financial-services section#trial {
  margin-top: 50px;
}
.page-template-template-financial-services section#trial .btn-lg {
  font-size: 28px;
  padding: 16px 35px;
}

@media screen and (min-width: 768px) {
  .page-template-template-financial-services .carousel-caption {
    left: 8%;
    right: 7%;
  }
  .page-template-template-financial-services .carousel-caption {
    font-size: 18px;
  }
  .page-template-template-financial-services section#top .quote blockquote {
    font-size: 18px;
  }
  .page-template-template-financial-services section#top .quote blockquote .fa {
    font-size: 28px;
  }
  .page-template-template-financial-services section#sifting {
    font-size: 18px;
  }
  .page-template-template-financial-services section#addepar {
    font-size: 18px;
  }
  .page-template-template-financial-services section#addepar blockquote {
    font-size: 18px;
  }
  .page-template-template-financial-services section#watch {
    font-size: 18px;
  }
  .page-template-template-financial-services section#empower {
    font-size: 18px;
  }
  .page-template-template-financial-services section#trial {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .page-template-template-financial-services section#top .quote blockquote {
    font-size: 30px;
  }
  .page-template-template-financial-services .carousel-caption {
    font-size: 28px;
  }
  .page-template-template-financial-services section#top h1 {
    font-size: 40px;
  }
  .page-template-template-financial-services .navbar-btn {
    margin-top: -20px;
  }
}
@media (min-height: 900px) and (min-width: 992px) {
  .page-template-template-financial-services .carousel .item {
    padding-top: 150px;
  }
}
@media (min-width: 992px) {
  .page-template-template-financial-services section#addepar .right {
    padding-top: 100px;
  }
}


/*
-----------------------------------------------------------
|
| template-request-demo
|
--------------------------------------------------------------
*/

.page-template-template-request-demo {
  background: #eff1f3;
  font-size: 17px;
  color: rgb(57, 66, 78);
  letter-spacing: 0.5px;
}
.page-template-template-request-demo .page-header {
  margin: 0;
  padding: 0;
}
.page-template-template-request-demo h1 {
  text-align: center;
  color: #39424e;
  font-weight: bold;
}
.page-template-template-request-demo form {
  width: auto !important;
}
.page-template-template-request-demo .mktoForm .mktoFormCol {
  width: 100%;
  margin: 0 !important;
}
.page-template-template-request-demo .mktoForm .mktoFieldWrap {
  width: 100%;
}
.page-template-template-request-demo .mktoForm .mktoLabel {
  line-height: 1.2em;
  padding-top: 0.3em;
  font-size: 14px;
  margin-bottom: 15px;
  width: auto !important;
  font-weight: 600;
}
.page-template-template-request-demo .mktoField {
  display: block !important;
  width: 100% !important;
  height: 46px;
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.3333333 !important;
  border-radius: 6px !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.page-template-template-request-demo .mktoForm div.mktoButtonRow {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.page-template-template-request-demo .mktoButtonRow span {
  margin: 0 !important;
}
.page-template-template-request-demo .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  background: #29b35b;
}
